<a href="https://colab.research.google.com/github/JudithPadron/Inteligencia-Artificial-JC/blob/main/Evaluaci%C3%B3nDiagn%C3%B3stica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Evaluación Diagnóstica

¿Como se declara una lista en python?

In [ ]:
my_list = [1,2,3,4]
print (my_list)

[1, 2, 3, 4]

¿Qué función se usa para conocer el número de elementos en una lista?

In [ ]:
totalElements = len(my_list)
print (totalElements)
print (len(my_list))

4
4

¿Qué resultado obtendremos al ejecutar el siguiente código?

In [1]:
a = [1,2,3,4,5]
print (a[::-1])

[5, 4, 3, 2, 1]

¿Cuál es el resultado de la siguiente expresión?

In [2]:
print(3*"5"+2)

TypeError: can only concatenate str (not "int") to str

¿Qué salida generará el siguiente código?

In [3]:
def foo(x,y=[]):
  y.append(x)
  return y

print(foo(1))
print(foo(2,[]))
print(foo(3))

[1]
[2]
[1, 3]

¿Qué resultado obtendremos al ejecutar el siguiente código?

In [6]:
def multiply_list(numbers,factor):
  result = []
  for number in numbers:
    result.append(number*factor)
  return result

my_list = [1,2,3]
output=(multiply_list(my_list,2))
print(output)

[2, 4, 6]

# Práctica de python

Clasificación de una lista con números pares e impares

In [ ]:
#Declaración de variables
numeros = [10,25,36,98,77,34,89,58]

pares = []
impares = []

In [ ]:
# Ciclo for para recorrer la lista
for numero in numeros:
  if numero % 2 == 0:
    # pares[0] = numeros[0]; java, c, c# "es el valor de 'i'"
    pares.append(numero)
  else:
    impares.append(numero)

In [ ]:
# impresión de resultados
print ("pares:",pares,"total:",len(pares))
print ("impares:",impares,"total:",len(impares))

pares: [10, 36, 98, 34, 58] total: 5
impares: [25, 77, 89] total: 3

In [ ]:
# Función suma de los números pares
def sumaPares(lista):
  suma = 0
  for numero in lista:
      suma += numero
  return suma

In [ ]:
# impresión de la suma
print ("suma pares:", sumaPares(pares))
print ("suma impares:", sumaPares(impares))

suma pares: 236
suma impares: 191